@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Nunito, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navBar {
  color: steelblue;
}

.container {
  margin: 0 auto;
  max-width: 768px;
  padding: 0 4px;
}

.searchBar {
  margin-bottom: 1.34em;
  position: relative;
  width: 100%;
}

.searchBar > span {
  align-items: center;
  color: steelblue;
  display: inline-flex;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 40px;
}

.searchBar > input[type="text"] {
  border: 2px solid lightgrey;
  padding: 9px;
  padding-right: 40px;
  width: 100%;
}

.searchBar > input[type="text"]::placeholder {
  color: lightgrey;
}

.searchBar > input[type="text"]:focus {
  outline-color: steelblue;
}

.notification {
  background-color: lightpink;
  border: 2px solid firebrick;
  border-radius: 4px;
  color: darkred;
  max-width: 75%;
  position: absolute;
  transform: translate(20%, -5px);
}

.notification > span {
  color: firebrick;
  position: absolute;
  transform: translate(13px, -13px);
}

.notification__text {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.notification__text > p {
  margin: 0;
  padding: 9px;
}

.notification__button {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  height: 36px;
  justify-content: center;
  width: 36px;
}

.movie-card {
  display: flex;
}

.movie-card:not(:first-child) {
  margin-top: 4px;
}

.movie-card__content {
  flex-grow: 1;
  margin-left: 4px;
}

.movie-card__content > p:first-child {
  font-weight: 700;
}

.footer {
  margin-top: 1.34em;
  text-align: center;
}

.footer__attribution {
  max-width: 130px;
  width: 20%;
}

.loading {
  margin: auto;
  background: none;
  display: block;
  shape-rendering: auto;
  width: 130px;
  height: 60px;
}

::selection {
  background-color: orange;
}

@media (min-width: 776px) {
  .container {
    padding: 0;
  }
}
